<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
          
            <a class="nav-link" href="/dashbordMain/product">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
               All product

            </a>
            <a class="nav-link" href="/dashbordMain/Order">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
               All Order
            </a>
            <a class="nav-link" href="/dashbordMain/MessagingRequests">
                <div class="sb-nav-link-icon"><i class="fas fa-envelope"></i></div>
                Messaging Requests
            </a>
        </div>
    </div>

</nav>