<div class="my-5">
<hr class="my-0 border-top border-dark">
<div class="text-light ">
    <ul class="nav justify-content-center">
        <hr>
    <li class="nav-item" >
        <a class="nav-link home mx-5"  aria-current="page" href="/home/home" >Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link shop mx-5" aria-current="page" href="#">cart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link news-events mx-5" aria-current="page" href="/profiles/profile">profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link about mx-5" href="/home/home#about-home">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link contact mx-5" aria-current="page" href="/home/home#contectus" >Contact </a>
    </li> 
    <hr>
</ul>
</div>

<hr class="my-0 border-top border-dark">
</div>