<div class="container" style="margin-top: 15%;">
  <!-- Sort by Dropdown -->

  <div class="d-flex justify-content-end mb-2">
    <lu class="py-2 m-y-n">sorted by</lu>
    <select class="form-select w-auto " id="sortByAge">
      <option selected>price</option>
      <option value="young-old">Young to Old</option>
      <option value="old-young">Old to Young</option>
    </select>
  </div>
</div>


<!--card group-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="filter-by my-5">
        <h6>FILTER BY :</h6>
        <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#filter-price">
          <span class="filter-title">Price</span>
          <i class="fas fa-plus"></i>
        </div>
        <div id="filter-price" class="collapse filter-content">
          <!-- Price filter content goes here -->
        </div>

        <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#filter-age">
          <span class="filter-title">size</span>
          <i class="fas fa-plus"></i>
        </div>
        <div id="filter-age" class="collapse filter-content">
          <!-- Age filter content goes here -->
        </div>

        <div class="filter-header" data-bs-toggle="collapse" data-bs-target="#filter-brand">
          <span class="filter-title">city</span>
          <i class="fas fa-plus"></i>
        </div>
        <div id="filter-brand" class="collapse filter-content">
          <!-- Brand filter content goes here -->
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
      <div class="row">
      
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card" style="border: none;padding:15px; text-align: left; line-height:1ch;">
              <a href="/productpage/productpage">
              <img id="might-like-img"
                src="https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png"
                class="card-img-top" alt="..." style="width: 100%; height: 230px; object-fit: cover;">
              </a>
              <div class="card-body">
                <h5 class="card-title"><strong>1200 piece jigswan puzzle</strong></h5>
                <p class="card-text">Brand</p>
                <p class="card-price"><span>$</span> 12.53</p>
              </div>
            </div>
          </div>
        
           
              <div class="col-lg-4 col-md-6 col-12">
             
                <div class="card" style="border: none;padding:15px; text-align: left; line-height:1ch;">
                  <a href="/productpage/productpage">
                  <img id="might-like-img"
                    src="https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png"
                    class="card-img-top" alt="..." style="width: 100%; height: 230px; object-fit: cover;">
                  </a>

                  <div class="card-body">
                    <h5 class="card-title"><strong>Title</strong></h5>
                    <p class="card-text">Brand</p>
                    <p class="card-price"><span>$</span> 152 </p>
                  </div>
                </div>
              </div>
      
      
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card" style="border: none;padding:15px; text-align: left; line-height:1ch;">
            <a href="/productpage/productpage">

            <img id="might-like-img"
              src="https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png"
              class="card-img-top" alt="..." style="width: 100%; height: 230px; object-fit: cover;">
              </a>
            <div class="card-body">
              <h5 class="card-title"><strong>Title</strong></h5>
              <p class="card-text">Brand</p>
              <p class="card-price"><span>$</span>34.23 </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card" style="border: none;padding:15px; text-align: left; line-height:1ch;">
            <img id="might-like-img"
              src="https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png"
              class="card-img-top" alt="..." style="width: 100%; height: 230px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title"><strong>Title</strong></h5>
              <p class="card-text">Brand</p>
              <p class="card-price"><span>$</span> 67.25 </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card" style="border: none;padding:15px; text-align: left; line-height:1ch;">
            <img id="might-like-img"
              src="https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png"
              class="card-img-top" alt="..." style="width: 100%; height: 230px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title"><strong>Title</strong></h5>
              <p class="card-text">Brand</p>
              <p class="card-price"><span>$</span>324 </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card" style="border: none;padding:15px; text-align: left; line-height:1ch;">
            <img id="might-like-img"
              src="https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png"
              class="card-img-top" alt="..." style="width: 100%; height: 230px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title"><strong>Title</strong></h5>
              <p class="card-text">Brand</p>
              <p class="card-price"><span>$</span> 100 </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card" style="border: none;padding:15px; text-align: left; line-height:1ch;">
            <img id="might-like-img"
              src="https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png"
              class="card-img-top" alt="..." style="width: 100%; height: 230px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title"><strong>Title</strong></h5>
              <p class="card-text">Brand</p>
              <p class="card-price"><span>$</span> 125 </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="card" style="border: none;padding:15px; text-align: left; line-height:1ch;">
            <img id="might-like-img"
              src="https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png"
              class="card-img-top" alt="..." style="width: 100%; height: 230px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title"><strong>Title</strong></h5>
              <p class="card-text">Brand</p>
              <p class="card-price"><span>$</span> 123 </p>
            </div>
          </div>
        </div>
        <div class=" col-lg-4 col-md-6 col-12">
          <div class="card" style="border: none;padding:15px; text-align: left; line-height:1ch;">
            <img id="might-like-img"
              src="https://htmlcolorcodes.com/assets/images/colors/gray-color-solid-background-1920x1080.png"
              class="card-img-top" alt="..." style="width: 100%; height: 230px; object-fit: cover;">
            <div class="card-body">
              <h5 class="card-title"><strong>Title</strong></h5>
              <p class="card-text">Brand</p>
              <p class="card-pric"><span>$</span> Price </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--card group-->