<!--=Photography and barbershops-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        // Ignore this in your implementation
        window.isMbscDemo = true;
    </script>
    <title> Calendar2 </title>

    <!-- Mobiscroll  CSS Includes and css file  -->
    <link rel="stylesheet" href="css/mobiscroll.css.min.css">
    <link rel="stylesheet" href="css/styleCal2.css">
</head>

<body>
    <div mbsc-page class="demo-date-time-range">
        <div class="mbsc-form-group">
            <div class="mbsc-form-group-title">Select date and start & end time </div>
            <div style="height:100%">
                <div id="demo-calendar"></div>
            </div>
        </div>

    </div>

    <!-- Mobiscroll  js Includes and js file  -->
    <script src="js/mobiscroll.javascript.min.js"></script>
    <script src="js/javascriptCal2.js"></script>
</body>

</html>