<!--Dress & flower & cake & beauty salon-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    // Ignore this in your implementation
    window.isMbscDemo = true;
  </script>
  <title> Calendar1 </title>

  <!-- Mobiscroll  CSS Includes and css file  -->
  <link rel="stylesheet" href="/css/mobiscroll.css.min.css">
  <link rel="stylesheet" href="/css/styleCal1.css">
</head>

<body>
  <div mbsc-page class="demo-appointment-booking">
    <div style="height:100%">
      <div class="md-calendar-booking">
        <div class="mbsc-form-group">
          <div class="mbsc-form-group-title">Select date & time</div>
          <div id="demo-booking-datetime" class="booking-datetime"></div>
        </div>
      </div>
      <form id="booking-form" action="/reservationConf/reservationConf" method="GET">
        <button type="submit">Submit Booking</button>
      </form>
    </div>
  </div>

  <!-- Mobiscroll  js Includes and js file  -->
  <script src="/JS/mobiscroll.javascript.min.js"></script>
  <script src="/JS/javascriptCal1.js"></script>
</body>

</html>