<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../public/load.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
<div  class="content">
<div class="left side"> 
    <div class="con">

        <h2>
            Welcome to our website. Here you will find everything you need for your wedding day. Create an account to benefit from our website’s many distinguished services
        </h2> 
        <button type="submit">Sign up as a user </button>
        <button type="submit">Sign up as a user  provider</button>

    </div>
  
</div>
<div class="right side">
  <div class="login-container">
<img src="../public/img/436446354_936315475164892_42665920886993378_n.jpg" alt="">
  </div>
     </div>
</div>
    </div>
</body>
</html>