<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="../public/login.css">
</head>
<body>
    <div class="background">
<div  class="content">
<div class="left side">  
<img src="../public/img/436446354_936315475164892_42665920886993378_n.jpg" alt="">
</div>
<div class="right side">
  <div class="login-container">
    <h2>Sign In</h2>
    
    <form  class="login-form">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
      
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      
      <div class="checkbox-container">
        <input type="checkbox" id="remember" name="remember">
        <label for="remember">Remember me</label>
      </div>
      
      <button type="submit">LogIn</button>
   

    </form> 
    <div class="lower">

      <a href="./LoadingPage.ejs"> Create account </a>
      or 
      <a href=""> Login As Guest   </a>
    </div>

  </div>
    
     </div>

</div>

    </div>


</body>
</html>