header {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

header img {
    width: 100%;
    height: 70%;
    object-fit: contain; 
    display: block;
    margin: 0 auto;
}
.site-title {
    text-align: center; 
    margin-top: 20px; 
    padding-top: 40px;
    font-size: 70px;
    font-family: 'Font Name', Dancing Script; 
    color: rgb(73, 137, 105) ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

}

body, header, footer {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

body {
    overflow-y: auto; 

}

video {
    padding-top: 3%;
    width: 800px; 
    height: 500px; 
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 190px;
    height: 150px;
    transition: transform 0.5s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
        
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.card:hover {
    transform: translateY(-25px);
    
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4); 
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, auto); 
    grid-gap: 20px; 
    justify-content: center;
    margin: 0 -5px; 
}

main {
    padding-top: 20px; 
    padding-bottom: 20px; 
    margin-top: auto;
    margin-bottom: auto;
}

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

.content-wrapper {
    font-family: 'Roboto';
    text-align: left;
}

.discption {
    margin-top: 1%;
    width: 96%;
    text-align: center;
    margin-left: 15%;
}

.colom {
    column-count: 2; 
}

p, button, h2 {
    font-family: Great Vibes;
    margin: 20px 0; 
}

p {
    font-size: 18px; 
    line-height: 1.5; 
}

.text-service {
    margin-top: 7%;
    text-align: center;
}

h2 {
    font-size: 24px; 
    color: #333; 
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 900px; 
    height: 70px; 
}

footer {
    margin-top: 100px;
}

.centeriz {
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
}

.row {
    display: flex;
    justify-content: center;
}

.card {
    margin-top: -20px;
    margin-bottom: 55px;
    margin-left: 60px;
    margin-right: 31px;
    width: 67%;
    height: 80%;
    position: relative;
    overflow: hidden;
}

button {
    font-family: Great Vibes;
    margin: 19px 0;
    margin-left: 400px;
    border-radius: 10px; 
    font-size: 20px;
    padding: 10px 10px;
    background-color:rgb(73, 137, 105) ;
    color: #ffffff;
}

.card figure {
    margin: 0;
}

.form-control {
    border: none;
    border-bottom: 1px solid #191a1b; 
    border-radius: 0; 
    background-color: transparent; 
    margin-bottom: 20px; 
    width: 100%; 
    transition: border-bottom-color 0.3s; 
}

.form-control:focus {
    outline: none; 
    border-bottom-color: #ff6c00; 
}

button {
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1) !important;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-color: #ffffff;
}

button:hover {
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3) !important;
    transform: translateY(-2px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}

.text-start {
    font-family: 'Roboto';
}

.text-start1 {
    font-family: 'Dancing Script';
    font-size: 30px;
}
